<!DOCTYPE html>
<html lang='en'>
  <head>
    <%= render "head" %>
  </head>
  <body <%= beta? ? 'class=beta' : ''-%>>
    <%= render "site_header", use_nav: "nav_graphql" %>
    <main id="main" role="main">
      <div class="PageContainer">
        <article class="Docs__article">
          <%= yield :toc %>
          <div class="TextContent">
            <%= yield %>
          </div>
          <%= render "footer" %>
        </article>
      </div>
    </main>
    <%= render "algolia" %>
  </body>
</html>
